@font-face{
    font-family: 'Lato', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100;1,300&display=swap);
}
html{
	font-family: 'Lato', sans-serif;
}
body{
	font-family: 'Lato', sans-serif;
	background-color: #f3f3f3;
}
/*h1, h2{
	font-family: Arial, Helvetica, sans-serif;
}*/
/*article{
	border-bottom: 1px solid #dedede;
}*/
.clear {
	clear: both;
}

#cv{
	width: 860px;
	height: 1260px;
	margin-left: 305px;
	border: 2px solid #dedede;
}

.mainDetails{
	border-bottom: 2px solid #cf8a05;
	margin-left: 30px;
    margin-right: 30px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}
#headshot > img {
	border-radius: 60%;
/**/width: 100px;
    margin-left: 20px;
    margin-bottom: -100px;
}


#name {
	float: left;
	margin-left: 0px;
}

#name > h1{
	color: #444444;
	font-weight: 900;
}

#name > h2{
	color: #444444;
	font-weight: 600;
}

#contactDetails {
	float: right;
	margin-right: 40px;
    margin-top: 20px;
}

#contactDetails > ul{
}

#contactDetails > ul > li{
	list-style: none;
} 

#contactDetails > ul > li > a{
	color: #181818;
}

section{
	border-bottom: 1px solid #dedede;
	margin-left: 40px;
    margin-right: 40px;
} 

.last-line{
	border: none;
}

.sectionTitle {
	float: left;
	width: 25%;
	color: #444444;
	font-family: Arial, sans-serif;
}

.sectionTitle > h1{

}

.sectionContent {
	float: right;
	width: 72.5%;
	/*color: #444444;*/
}

.sectionContent > p{
	font-family: Helvetica, sans-serif;
	color: #181818;
}

.sectionContent > article > h2{
	font-family: Helvetica, sans-serif;
	color: #444444;
}
.sectionContent > article > p{
	font-family: Helvetica, sans-serif;
	color: #181818;
}

.subDetails{
	color: #181818;
}

.keySkills{
	list-style: none;
    margin-left: -133px;
}

.keySkills > li{
	display: inline-block;
    margin-left: 50px;
    padding-left: 40px;
    padding-right: 30px;
    margin-right: 0px;
}